<html>
<head>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/style.css">
    </head>
</head>
<body style="overflow:hidden;">

<audio src="/uploads/<%= doc.filename %>" id="sound" autoplay="true"></audio>
<script>
    var song = document.getElementById("sound");
    song.volume = .85;
    function play() {
        song.play();
        document.getElementById("playButton").style.display = "none";
        document.getElementById("pauseButton").style.display = "unset";
        document.getElementById("player-info").fadeIn();
        document.getElementById("player-info").innerHTML = "Playing";

    }

    function pause() {
        song.pause();
        document.getElementById("playButton").style.display = "unset";
        document.getElementById("pauseButton").style.display = "none";
        document.getElementById("player-info").innerHTML = "Paused";
    }

    var inc = .10;

    function volUp() {

        if (song.volume <= .99) {
            song.volume += inc;
            document.getElementById("player-info").innerHTML = "vol +";
        }
    }

    function volDn() {
        if (song.volume >= 0.1) {
            song.volume -= inc;
            document.getElementById("player-info").innerHTML = "vol -";
        }
    }

    function mute() {

        if (song.volume == 0) {
            song.volume = .60;
            document.getElementById("player-info").innerHTML = "   ";

        }
        else {
            song.volume = 0;
            document.getElementById("player-info").innerHTML = "muted";

        }
    }
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $(".<%= doc._id %>likebtn").click(function () {
            $.get("/like",
                {lsongID: "<%= doc._id %>"},
                function (data, status) {
                    $(".<%= doc._id %>likebtn").removeClass("btn-default").addClass("btn-success disabled");
                    $(".<%= doc._id %>dislikebtn").slideUp();
                    $(".ctr").text("Liked!");
                });
        });
        $(".<%= doc._id %>dislikebtn").click(function () {
            $.get("/dislike",
                {
                    dsongID: "<%= doc._id %>"
                },
                function (data, status) {
                    $(".<%= doc._id %>dislikebtn").removeClass("btn-default").addClass("btn-danger disabled");
                    $(".<%= doc._id %>likebtn").fadeOut();
                    $(".ctr").text("Disliked!");
                });
        });
    });
</script>

<div class="panel-group">
    <div class="panel panel-primary">

        <div class="panel-heading text-center"><h2> <%= doc.originalname %></h2>
        </div>
        <div class="panel-body text-center">
            <br>
            <button type="button" onclick="play()" class="btn btn-success " id="playButton" style="display: none">
                <span class="glyphicon glyphicon-play"></span> PLAY
            </button>

            <button type="button" onclick="pause()" class="btn btn-danger" id="pauseButton">
                <span class="glyphicon glyphicon-pause"></span> PAUSE
            </button>

            <button type="button" onclick="volDn()" class="btn btn-info" id="pauseButton">
                VOL <span class="glyphicon glyphicon-minus"></span></button>

            <button type="button" onclick="volUp()" class="btn btn-info" id="pauseButton">
                VOL <span class="glyphicon glyphicon-plus"></span></button>

            <button type="button" onclick="mute()" class="btn btn-danger" id="pauseButton">
                MUTE
            </button>
            <hr>
            <h4 id="player-info" class="text-center">Playing</h4>
        </div>
        <div class="panel panel-footer text-right">


            <div class="ctr ">Rate this song</div>
            <button type="button" onclick="" class="btn btn-success <%= doc._id %>likebtn" id="up">
                <span class="glyphicon glyphicon-chevron-up"></span></button>
            <button type="button" onclick="" class="btn btn-danger <%= doc._id %>dislikebtn" id="down">
                <span class="glyphicon glyphicon-chevron-down"></span></button>
        </div>
</body>
</html>